body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #27374d;
  font-family: "Kalam";
}

header {
  width: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: 25%;
}

header h1 {
  font-size: 3rem;
  color: #d25380;
}

main {
  margin-left: 25%;
}

#new-form {
  display: flex;
}

#type-task,
.task-entry,
.button {
  border: none;
  outline: none;
  background: none;
  appearance: none;
}

#type-task,
.task-entry {
  color: #d25380;
  font-family: "Kalam";
  flex: 1 1 0;
  background-color: #dde6ed;
  font-size: 1.5rem;
  border-radius: 2em;
  padding: 0.5rem;
  margin-right: 15px;
  margin-bottom: 10px;
}

.button {
  color: #d25380;
  font-size: 1.25rem;
  background-image: linear-gradient(to right, #d25380, #fffaf4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

section h2 {
  color: #d25380;
}

.task {
  display: flex;
}

.content {
  display: flex;
  width: 100vh;
}

.actions {
  display: flex;
}
